{
  "parser": "babylon",
  "printWidth": 80,
  "bracketSpacing": true,
  "array-parens": "always",
  "jsxBracketSameLine": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "singleQuote": true
}
